# Q :1) Write a Python program to loop through all the elements in a list

In [1]:
x=input("enter the list values:").split(",")
for i in range(len(x)):
    print(x[i])

enter the list values:1,2,3,4,5,6
1
2
3
4
5
6

# Q :2) Write a Python program where you will ask the users to insert elements in a list

In [7]:
list1=[]
x=input()
for i in range(len(x)):
    list1.append(x[i])
print(list1)

12345
['1', '2', '3', '4', '5']

# Q :3) Write a Python program to remove all the odd index value from a list and only even index elements should remain

In [14]:
x=input().split()
for i in range(len(x)):
    if i%2==0:
        print(x[i],end=" ")

a s d f g h j k l
a d g j l

# Q :4) Write a Python program to sum and multiply all the items in a list

In [23]:
prod=1
sum=0
l=input().split()
for i in l:
    sum=sum+int(i)
    prod=prod*int(i)
print("sum of all the list elements is :",sum)
print("product of all the list elements is :",prod)

1 2 4 5 3 6 7 8 9
sum of all the list elements is : 45
product of all the list elements is : 362880

# Q :5) Write a Python program to get the maximum and minimum numbers from a list

In [37]:
l=input("enter the numbers").split()
for i in l:
    l.sort()
print("minmum value:", (l[0]))
print("maximum value:", (l[-1]))

enter the numbers1 2 3
minmum value: 1
maximum value: 3

# Q :6) Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [3]:
l=input("enter the numbers:").split()
w=[]
for i in l:
    if i==l[0] or i==l[4] or i==l[5]:
        continue
    else:
        w.append(i)
print(w)

enter the numbers:kiran kumar lakshman surya prakash harshitha
['kumar', 'lakshman', 'surya']

# Q :7) Write a Python program to convert a list of characters into a string

In [4]:
list1=input().split()
s=("")
for i in list1:
    s=s+i
print(s)

v i s h w a b h u s h a n
vishwabhushan

# Q :8) Write a Python program to compute average of given lists.

In [12]:
list1=input().split()
sum=0
for i in list1:
    sum=sum+int(i)
print("average of given list is :",sum/len(list1))

1 2 3 4 5
average of given list is : 3.0

# Q :9) Write a Python program to count integer in a given mixed list.

In [16]:
list1=input().split()
count=0
for i in list1:
    if i.isdigit():
        count=count+1
print(count)

1 2 3 as d jk 3 4 5
6

# Q :10) Write a Python program to reverse the list

In [22]:
list1=input().split()
list2=[]
for i in list1:
    i=list1[-1]
    list1=list1[0:-1]
    list2.append(i)
print(list2)

1 2 3 4 5
['5', '4', '3', '2', '1']

# Q :11) Write a Python program convert a given string to a tuple

In [26]:
string=str(input(""))
tuple(string)

ajay

('a', 'j', 'a', 'y')