In [ ]:
#Q(1): Write a python program to convert a string to lower case

In [2]:
x.lower()

'welcome to python'

In [4]:
#Q(2): Write a python program to convert only odd indexed characters to lower case

In [6]:
x="WELCOME"
x[0].upper()+x[1].lower()+x[2].upper()+x[3].lower()+x[4].upper()+x[5].lower()+x[6].upper()

'WeLcOmE'

In [13]:
#Q(3): Write a python program to convert only even indexed characters to lower case

In [14]:
x="WELCOME"
x[0].lower()+x[1].upper()+x[2].lower()+x[3].upper()+x[4].lower()+x[5].upper()+x[6].lower()

'wElCoMe'

In [ ]:
#Q(4): Write a python program to convert only odd indexed characters to upper case

In [15]:
x="WELCOME"
x[0].lower()+x[1].upper()+x[2].lower()+x[3].upper()+x[4].lower()+x[5].upper()+x[6].lower()

'wElCoMe'

In [ ]:
#Q(5): Write a python program to convert only even indexed characters to upper case

In [16]:
x="WELCOME"
x[0].upper()+x[1].lower()+x[2].upper()+x[3].lower()+x[4].upper()+x[5].lower()+x[6].upper()

'WeLcOmE'

In [ ]:
#Q(6): Write a python program where you have different variable which contains your name ,sex,age, phone no ,fathers name and mothers name.And by using this variable create a variable named bio-data where you will use alL this variable

In [2]:
name=input("enter name:")
sex=input("enter sex:")
age=int(input("enter age:"))
ph_no=int(input("enter ph_no:"))
fathername=input("enter father name:")
mothername=input("enter mother name:")
bio_data=print("my name is {} my sex is {} my age is {} my phone no is{} my father name is {} my mother is {}".format(name,sex,age,ph_no,fathername,mothername))

enter name:lucky
enter sex:male
enter age:22
enter ph_no:630252151
enter father name:ravi
enter mother name:rama
my name is lucky my sex is male my age is 22 my phone no is630252151 my father name is ravi my mother is rama

In [ ]:
#Q(7):Write a python program to count how many times “@” occurred

In [5]:
x="abc@UEYYIF@ $^GFJH@ _-+HGJ,JHGLBFdghgvcjg@"
x.count("@")

4

In [ ]:
#Q(8):Write a python program to get only names from the string “name1.@gmail.com,name2.@gmail.com,name3.@gmail.com”

In [2]:
x="name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
x=x.split(sep=".")

In [3]:
x

['name1', '@gmail', 'com,name2', '@gmail', 'com,name3', '@gmail', 'com']

In [6]:
x[2]="name2"
x[4]="name3"
x[0],x[2],x[4]

('name1', 'name2', 'name3')

In [ ]:
#Q(9):Given a string of odd length greater that 9, return a new string made of the middle three characters of a given String

In [11]:
x="abcdHLOghji"
len(x)//2
x[4:7]

'HLO'

In [ ]:
#Q(10):write a python program to insert a 2 string in the middle of 1 string

In [40]:
x="vijay"
y="sai"
z=len(x)//2
result=x[:z] +y+ x[z:]
result

'visaijay'

In [36]:
c=str(a[0:len(x)//2]+b+a(len(x)//2:))

SyntaxError: invalid syntax (680606810.py, line 1)

In [7]:
#Q(11):Write a program to remove vowels from the entire alphabets

In [13]:
x="europian"
x.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")

'rpn'